html, body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 120rem;  /* 1200px */
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding-top: 2.3rem;
    padding-bottom: 2.6rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 63%;
}

.header__telephone-img {
    width: 2rem;
    height: 2rem;
}

.header__maps-img {
    width: 1.5rem;
    height: 2.5rem;
}

.header__inst-img {
    width: 3rem;
    height: 3rem;
}

.header__inst-img,
.header__maps-img,
.header__telephone-img {
    margin-right: 1.5rem;
}

.header__telephone, 
.header__maps, 
.header__inst {
    display: flex;
    align-items: center;
}

.header__inst span {
    line-height: 100%;
}

.main-display {
    padding-top: 4.7rem;
}

.main-display__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-display__logo {
    display: flex;
    align-items: center;
}

.main-display__logo-img {
    width: 10rem;
    height: 6rem;
    margin-right: 1.1rem;
}

.main-display__title {
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;  /* (42px / 36px) * 100% */
}

.main-display__nav {
    display: flex;
    align-items: center;
}

.main-display__nav li {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
    color: #737373;
}

.main-display__nav li:not(:last-child) {
    margin-right: 2.5rem;
}

.main-display__center {
    display: flex;
    justify-content: space-between;
}

.main-display__header {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 5rem;
    line-height: 118%;
}

.main-display__subheader {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 117%;
    margin-bottom: 0.5rem;
}

.main-display__right {
    width: 53.3rem;
    height: 68.6rem;
}

.main-display__left {
    padding-top: 19rem;
}

.main-display__button {
    font-weight: 900;
    font-size: 2rem;
    line-height: 115%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: .7rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    outline: none;
}

.about__header {
    font-weight: 400;
    font-size: 5rem;
    line-height: 118%;
    text-align: center;
    margin-bottom: 10rem;
}

.about__header span {
    background: linear-gradient(90deg,rgba(185, 1, 96, 1) 0%, rgba(61, 91, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__item {
    /* width: 29%; */
    box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
    border-radius: .9rem;
    overflow: hidden;
}

.about__items {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 29%);
    gap: 0 6.1rem;
}

.about__item-img {
    width: 100%;
    height: 21.5rem;
}

.about__item-img img {
    object-fit: cover;
}

.about__item-header {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 117%;
}

.about__item-text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    color: #767676;
}

.about__item-description {
    background: #FFFFFF;
    padding: 5%;
}

.footer {
    position: relative;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.2rem 12rem 8.4rem 12rem;

}

.footer__header {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%; 
}

.footer__inst-img {
    width: 3.3rem;
    height: 3.3rem;
}

.footer__decor-1 {
    position: absolute;
    left: 5%;
    top: 5%;
    transform: translate(-50%, -50%);
    width: 11rem;
    height: 12.5rem;
}

.footer__decor-2 {
    position: absolute;
    left: 77%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 23.3rem;
    height: 26.4rem;
}

.footer__wrap li {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 144%;
}